.container{
    background-color: rgb(14, 173, 241);
    margin-left:0px;
}
.profile-name{
    margin-left: 400px;
    margin-right: 600px;
    margin-top: 20px;
    padding: 10px 10px 30px 10px;
    border-style: none;
    border-radius: 20px;
    border-color: rgb(178, 235, 45);
    padding: 15px 10px 10px 90px;
    background-color: aqua;
}
.image{
    margin-left: 15px;
    border-style: none;
    border-radius: 75px;

}
.name{
    margin-left: 20px;
}
#user-online-indicator{
    color: blue;
}