h1{
    color:brown;
    text-align: center;
}
.bg1{
    margin:auto;
    background-color: rgba(130, 130, 129, 0.919);
    padding: 20px 5px 10px 5px;
}
.headImg{
    float:left;
}
#cart{
    float:right;
    margin-left: 500px;
}
.loginField{
    margin-left: 50px;
    margin-right: 50px;
}
.help{
    margin-left: 100px;
    color: aqua;
}
.findInput{
    width:500px;
    margin-left: 50px;
}
.formDiamond{
    margin-left: 50px;
    width:200px;
    color: rgb(3, 44, 70);
}
#shipping{
    float:right;
    margin-right:70px;
}
#loginlink{
    text-decoration-line: none;
    border:none;
    border-radius: 5px;
    color:black;
    text-align:left;
}
#signlink{
    text-decoration-line: none;
    border:none;
    border-radius: 5px;
    color:black;
    text-align: left;
}
#success{
    text-align: left;
    float:left;
}