  <div class="head" class="container">
<div class="card">
<div class="card-header">
<div class="avatar">
      <div class="user-online-indicator"></div>
      <div class ="profile-name" *ngFor="let user of (users$ |async)?.data">
      <img class ="image" [src]="user.avatar"
        alt="user-image of {{user.email}}"/><br>
      <span class ="name"><b>{{ user.first_name}} {{user.last_name}}</b></span>
      <div class="profile-role">{{user.email}}</div>
        <br>
        <br>
      </div>
</div>
</div>
</div>
</div>